@font-face {
    font-family: 'DargerScript';
    src: url('~@/assets/font/dargerbrutscript-webfont.woff2') format('woff2'),
         url('~@/assets/font/dargerbrutscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$cream: #F8F1EB;
$dark: #1C1C1C;

html, body{
    margin: 0;
    padding: 0;
    //background-color: #F8F1EB;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Courier Prime', monospace;
    color: $dark;
    font-size: 14px;
    //overflow-x: hidden; // bug au scroll y (!!) todo: virer marges x
}

a{
    color: $dark;
    text-decoration: none;

    &:hover{
        border-bottom: 4px solid $dark;
    }
}

strong{
    font-weight: 700;
}

p{
    margin-bottom: 5px;
}

ul{
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

#logo{
    width: 130px;
    position: fixed;
    top: 17px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
}

#burger{
    width: 28px;
    position: fixed;
    bottom: 12px;
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 12;
}

#play{
    width: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 16px;
    z-index: 13;
}

.bt-primary{
    display: inline-block;
    border: 4px solid $dark;
    border-radius: 99px;
    text-align: center;
    padding: 18px 24px;
    font-weight: 700;
    transition: all 150ms;
    width: fit-content;

    &:hover{
        background-color: $dark;
        color: $cream;
    }
}

@mixin mask {
    position: fixed;
    z-index: 10;
    background-color: $cream;
}

$mask-w: 48px;

#mask-top{  
    top: 0;
    left: 0;   
    width: 100%;
    height: $mask-w;
    @include mask;
}
#mask-left{
    top: 0;
    left: 0;
    width: $mask-w;
    height: 100%;
    @include mask;
}
#mask-right{
    top: 0;
    right: 0;
    width: $mask-w;
    height: 100%;
    @include mask;
}
#mask-bottom{
    bottom: 0;
    left: 0;
    width: 100%;
    height: $mask-w;
    @include mask;
}

#flipbook{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: $mask-w;
    width: calc(100% - $mask-w/2);
    height: calc(100% - $mask-w/2);
    overflow: hidden;
}
#flipbook img{
    //width: 100%;
    object-fit: cover;
}

#preloader{
    width: 100%;
    height: 100%;
    background-color: $cream;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 1000ms ease-in-out;

    &.inactive{
        transform: translate3d(0, -100%, 0);
    }

    .heading{
        width: 400px;
        margin: 200px auto 0 auto;
        text-align: center;

        img{
            width: 100%;
        }
    }

    .title{
        font-family: 'DargerScript', script;
        font-size: 80px;
        margin-bottom: 20px;
    }
}

#loadbar-container{
    width: 250px;
    height: 1px;
    //background-color: rgba(255, 255, 255, 0.4);
    margin: 50px auto 0 auto;
}

#loadbar{
    width: 100%;
    height: 100%;
    background-color: $dark;
}

$menu-h: 120px;

#menu{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: $menu-h;
    background-color: $cream;
    font-family: 'DargerScript';
    transform: translate3d(0, $menu-h, 0);
    transition: 500ms ease-in-out;
    z-index: 2000;
    

    &.visible{
      transform: translate3d(0, 0, 0);
    }

    ul{
      width: 510px;
      height: 40px;
      margin: 28px auto;
    }

    li{
      list-style: none;
      //margin-bottom: 24px;
      margin-right: 20px;
      float: left;
    }

    a{
      font-size: 20px;
    }

    .bt-close{
        position: absolute;
        bottom: 14px;
        margin: 0 auto;
        right: 0;
        left: 0;
        width: 30px;
        height: 30px;

        &:hover{
            border: none;
        }
    }
}

#scrolldown{
    position: absolute;
    width: 80px;
    margin: 0 auto;
    bottom: 80px;
    left: 0px;
    right: 0px;
}

.space{
    width: 100%;
    height: 1000px;
    clear: both;
}

.cloud{
    position: relative;

    &.interstitial{
        width: 800px;
        margin: 0 auto;
    }

    &.left{
        float: left;
        margin-left: 89px;
    }
    &.right{
        float: right;
        margin-right: 89px;
        text-align: right;
    }

    p{
        width: 400px;
    }

    .big{
        font-size: 28px;
    }

    .quote{
        font-size: 36px;
        font-style: italic;
    }

    .content{
        position: relative;
        z-index: 2;

        &.center-text{
            text-align: center;
        }
    }

    .thumb{
        width: 400px;
        display: block;
        margin: 0 auto 20px;
    }

    .cb{
        position: absolute;
        z-index: 1;

        &.ci{
            top: -50px;
            width: 100%;
        }
    }
    &.left .cb{
        left: -41px;
    }
    &.right .cb{
        right: -41px;
    }

    #c0{
        top: -300px;      
    }
    #c1{
        top: -200px;
    }
    #c2{
        top: -250px;
    }
    &.right #c3{
        top: -160px;
    }
    #c4{
        top: -100px;
    }
    &.right #c5{
        top: -300px;
    }
    #c6{
        top: -200px;
    }
    #c7{
        top: -200px;
    }
    #c8{
        top: -200px;
    }
    #c9{
        top: -100px;
    }
    #c10{
        top: -100px;
    }
    #c11{
        top: 10px;
    }
    #c12{
        top: -100px;
    }
    #cvideo{
        top: -85px;
    }
}

.bigtitle{
    font-family: 'DargerScript';
    font-size: 72px;
    text-align: center;
}

.avatar{
    width: 296px;
    margin-bottom: 30px;
}
.name{
    font-family: 'DargerScript';
    font-size: 20px;
    margin-bottom: 10px;
}
.role{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
}
.persolink{
    font-weight: 700;
}

