html, body{
    margin: 0;
    padding: 0;
    height: 4000px;
}

#flipbook{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#flipbook img{
    object-fit: cover;
}

#loadbar{
    width: 0;
    height: 50px;
    background-color: blue;
    position: absolute;
}