@font-face {
    font-family: 'DargerScript';
    src: url('~@/assets/font/dargerbrutscript-webfont.woff2') format('woff2'),
         url('~@/assets/font/dargerbrutscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin: 0;
    padding: 0;
    //background-color: #EFDCC8;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar{
    display: none;
}

#logo{
    width: 140px;
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}
#burger{
    width: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    z-index: 5;
}

@mixin mask {
    position: fixed;
    z-index: 1;
    background-color: #F8F1EB;
}

#mask-top{  
    top: 0;
    left: 0;   
    width: 100%;
    height: 60px;
    @include mask;
}
#mask-left{
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    @include mask;
}
#mask-right{
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    @include mask;
}
#mask-bottom{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    @include mask;
}

#flipbook{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 60px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    overflow: hidden;
}
#flipbook img{
    width: 100%;
    object-fit: cover;
}

#preloader{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
}

#loadbar-container{
    width: 400px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 400px auto 0 auto;
}

#loadbar{
    width: 100%;
    height: 100%;
    background-color: white;
}